@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
body {
  font-size: vw(24);
  line-height: vw(40);
}
.show_pc {
  display: none !important;
}
.show_sp {
  display: block !important;
}
.container {
  max-width: 100%;
  padding: 0 vw(30);
  margin: 0 auto;
  overflow: hidden;
}
.row {
  padding: 0 vw(30);
}