@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}

a[href^=tel] {
  pointer-events: none;
  text-decoration: none;
  opacity: 1 !important;
  cursor: default !important;
}

.row{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}