@charset "utf-8";
//  use toppage
//=================================================================== */
.stVideo{
  &:after{
    height: vw(6);
  }
  &_ttl{
    padding: vw(40) 0;
    span{
      font-size: vw(45);
    }
  }
  &_box{
    padding: vw(80) 0;
    &_ytb{
      margin-bottom: vw(50);
    }
    &_btn{
      li{
        &:not(:last-child){
          margin-right: vw(20);
        }
      }
    }
  }
}
.stProfile{
  background: #cdcec8;
  background-size: auto 100%;
  padding: vw(70) 0 0;
  .row{
    padding-right: vw(30);
  }
  h2{
    font-size: vw(45);
    margin-bottom: vw(40);
  }
  p{
    font-size: vw(24);
    line-height: 1.7;
    +p{
      margin-top: vw(40);
    }
  }
  figure{
    margin-top: vw(40);
    text-align: right;
    img{
      width: 100%;
      height: auto;
    }
  }
}
.stAbout{
  padding: vw(80) 0;
  h2{
    padding: 0;
    margin-bottom: vw(60);
  }
  .box{
    display: block;
    &_left{
      width: 100%;
      padding-right: 0;
      margin-bottom: vw(40);
      p{
        font-size: vw(24);
        line-height: 1.7;
        +p{
          margin-top: vw(40);
        }
      }
    }
    &_right{
      width: 100%;
      figcaption{
        margin: vw(60) vw(50) 0 0;
        text-align: right;
        img{
          width: vw(238);
          height: auto;
        }
      }
    }
  }
}
.stTell{
  padding: 0 0 vw(40);
  h2{
    margin-bottom: vw(70);
  }
  p{
    font-size: vw(24);
    line-height: 1.7;
    color: #fff;
    +p{
      margin-top: vw(40);
    }
  }
  article{
    &:not(:last-child){
      margin-bottom: vw(50);
    }
  }
  .ttlArt{
    font-size: vw(48);
    margin-bottom: vw(40);
  }
  .bFloat{
    margin-bottom: vw(40);
    figure{
      float: none;
      margin-bottom: vw(40);
    }
  }
  figure{
    text-align: center;
  }
  .bFlex{
    display: block;
    margin-bottom: vw(40);
    .oder1{
      order: 1;
      width: 100%;
      padding-right: 0;
      margin-bottom: vw(40);
    }
    .oder2{
      order: 2;
      width: 100%;
      padding-left: 0;
    }
  }
}
.stMessage{
  padding: vw(80) 0;
  .ttlMg{
    margin-bottom: vw(30);
    &:before{
      height: vw(4);
    }
    span{
      padding: 0 vw(20);
      ins{
        font-size: vw(60);
      }
    }
  }
  .txtTop{
    font-size: vw(40);
    margin-bottom: vw(30);
  }
  .boxMg{
    padding: vw(30);
    &:not(:last-child){
      margin-bottom: vw(50);
    }
    .bkg_w{
      background-color: #fff;
      padding: vw(50);
    }
    .bFlex{
      display: block;
      margin-bottom: vw(30);
      figure{
        width: vw(242);
        text-align: center;
        margin: 0 auto vw(30);
      }
      &_pf{
        width: 100%;
        padding-left: 0;
        li{
          font-size: vw(26);
          line-height: 1.5;
          padding: vw(15) 0;
        }
      }
    }
    p{
      font-size: vw(24);
      line-height: 1.7;
      +p{
        margin-top: vw(40);
      }
    }
  }
  .boxCtn{
    text-align: center;
    margin-top: vw(50);
    h2{
      font-size: vw(40);
      margin-bottom: vw(30);
      font-weight: 500;
    }
    figure{
      margin-bottom: vw(40);
    }
  }
}