@charset "utf-8";
//  use toppage
//=================================================================== */
.banner{
  img{
    width: 100%;
    height: auto;
  }
}
.stVideo{
  position: relative;
  &:after{
    content:"";
    width: 100%;
    height: 6px;
    background: url(../img/af_vd.png) bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &_ttl{
    text-align: center;
    padding: 45px 0;
    background-color: #000;
    span{
      display: block;
      font-size: rem(60);
      line-height: 1;
      background: linear-gradient(45deg, #a88437 0%, #ffc879 55%, #a88437 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &_box{
    background: url(../img/bkg_ytb.jpg) no-repeat;
    background-size: cover;
    padding: 110px 0 150px;
    &_ytb{
      text-align: center;
      line-height: 0;
      margin-bottom: 67px;
      padding-bottom: 56.25%;
      position: relative;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 0;
        background-color: #000;
      }
    }
    &_btn{
      display: flex;
      justify-content: space-between;
      li{
        width: 50%;
        &:not(:last-child){
          margin-right: 30px;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.stProfile{
  background: #cdcec8 url(../img/img_mb.png) center right no-repeat;
  background-size: auto 100%;
  padding: 70px 0 78px;
  .row{
    padding-right: percentage(375/1920);
  }
  h2{
    font-size: rem(60);
    line-height: 1;
    font-weight: bold;
    margin-bottom: 50px;
  }
  p{
    font-size: rem(16);
    line-height: 35px;
    color: #3f3737;
    +p{
      margin-top: 50px;
    }
  }
}
.stAbout{
  padding: 100px 0 80px;
  background-color: #231f16;
  h2{
    text-align: center;
    padding: 0 82px;
    margin-bottom: 65px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_left{
      width: calc(100% - 445px);
      padding-right: 30px;
      p{
        font-size: rem(18);
        line-height: 30px;
        color: #fff;
        +p{
          margin-top: 35px;
        }
      }
    }
    &_right{
      width: 445px;
      img{
        width: 100%;
        height: auto;
      }
      figcaption{
        margin: 60px 50px 0 0;
        text-align: right;
        img{
          width: 238px;
          height: auto;
        }
      }
    }
  }
}
.stTell{
  padding: 0 0 90px;
  background-color: #0e0e0e;
  h2{
    margin-bottom: 72px;
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    font-size: rem(18);
    line-height: 30px;
    color: #fff;
    +p{
      margin-top: 35px;
    }
  }
  article{
    &:not(:last-child){
      margin-bottom: 50px;
    }
  }
  .ttlArt{
    font-size: rem(48);
    line-height: 1.5;
    font-weight: bold;
    background: linear-gradient(45deg, #dbd17b 0%, #f4f1e7 55%, #dbd17b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }
  .bFloat{
    margin-bottom: 40px;
    figure{
      float: right;
    }
  }
  .bFlex{
    display: flex;
    margin-bottom: 40px;
    .oder1{
      order: 1;
      width: 50%;
      padding-right: 15px;
    }
    .oder2{
      order: 2;
      width: 50%;
      padding-left: 15px;
    }
  }
}
.stMessage{
  padding: 100px 0 110px;
  background-color: #000;
  .ttlMg{
    text-align: center;
    position: relative;
    transform: translateZ(0);
    margin-bottom: 30px;
    &:before{
      content:"";
      width: 100%;
      height: 4px;
      background: rgb(212,159,102);
      background: linear-gradient(180deg, rgba(212,159,102,1) 0%, rgba(168,132,55,1) 100%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1;
    }
    span{
      background-color: #000;
      display: inline-block;
      padding: 0 25px;
      ins{
        font-size: rem(60);
        line-height: 1;
        background: linear-gradient(45deg, #d49f66 0%, #a88437 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
  .txtTop{
    color: #fff;
    font-size: rem(48);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
  }
  .boxMg{
    background: url(../img/bkg_rep.png) repeat;
    background-size: auto;
    padding: 30px;
    &:not(:last-child){
      margin-bottom: 50px;
    }
    .bkg_w{
      background-color: #fff;
      padding: 50px 100px;
    }
    .bFlex{
      display: flex;
      margin-bottom: 30px;
      figure{
        width: 242px;
        img {
          border-radius: 50%;
        }
      }
      &_pf{
        width: calc(100% - 242px);
        padding-left: 40px;
        li{
          font-size: rem(19);
          line-height: 1.5;
          font-weight: 500;
          border-bottom: 1px solid #edebe4;
          padding: 10px 0;
          &:first-of-type{
            border-top: 1px solid #edebe4;
          }
        }
      }
    }
    p{
      font-size: rem(18);
      line-height: 30px;
      +p{
        margin-top: 35px;
      }
    }
  }
  .boxCtn{
    text-align: center;
    margin-top: 70px;
    h2{
      font-size: rem(45);
      line-height: 1.5;
      background: linear-gradient(45deg, #dbd17b 0%, #f4f1e7 55%, #dbd17b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 30px;
      font-weight: 500;
    }
    figure{
      margin-bottom: 40px;
    }
  }
}