@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================
@import "_mixin/mixin";
//----------------------------------------------------
//  共通
//----------------------------------------------------

html {
  font-size: 10px;
}

body {
  font-family: "游明朝体", "Yu Mincho", YuMincho, YuGothic, '游ゴシック', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3', "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: rem(14);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  background: #fff;
  color: #000;
}

body {
  overflow-wrap: break-word;
}

a {
    color: #5a5a5a;
    text-decoration: none;
    transition-duration: 0.2s;
    &:hover {
        text-decoration: none;
        color: #5a5a5a;
        filter: alpha(opacity=75);
        -ms-filter: "alpha(opacity=75)";
        opacity: .75;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

ul, ol {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0px 0px 30px 0px;
    padding: 0;
    &:last-child {
        margin-bottom: 0px;
    }
    @media screen and (max-width: 768px) {
        margin: 0 0 vw(30) 0;
    }
}

figure {
    margin: 0;
    padding: 0;
    line-height: 0;
}

input[type="submit"] {
    border: none;
    transition-duration: 0.2s;
}

table {
    border-spacing: inherit;
    border-collapse: collapse;
}
dl,dt,dd {
    margin: 0;
    padding: 0;
}

*{
  box-sizing: border-box;
  word-break: break-word;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}
.container {
  overflow: hidden;
  max-width: 1030px;
  padding: 0px 15px;
  margin: 0 auto;
}

//---------------------------------------------------------------------------

//---------------------------------------------------------------------------
@import "_common_pc.scss";

@media screen and (max-width: 768px) {
    @import "_common_sp.scss";
}